{
  email {$CADDY_EMAIL}
}

spacefestival.fun {
  encode zstd gzip
  handle /telegram/webhook {
    reverse_proxy api:8080
  }
  handle_path /api/* {
    reverse_proxy api:8080
  }
  reverse_proxy frontend:80
}

www.spacefestival.fun {
  redir https://spacefestival.fun{uri} permanent
}
